
.search-button button {
  height: 35px;
  border-radius: 0 5px 5px 0;
}

.product-card {
  margin-bottom: 30px;
  background-color: #ededed;
  padding: 0 10px 50px 10px;
}

.card-top-container {
  text-align: center;
  padding: 16px 0;
}

.card-top-container img {
   width: 100%;
}

.card-bottom-container {
  padding: 0px 20px 30px 20px;
}

.card-bottom-container h6 {
  font-size: 18px;
  color: #263238;
}

.card-bottom-container p {
  color: #585858;
  font-style: italic;
}
